@charset "UTF-8";

/*--Fontes usadas--*/
@font-face {
    font-family: 'Lovely';
    src: url(love_paradise/LOVEPARADISE.otf) format(opentype);
}
@font-face {
    font-family: 'Lovely lady';
    src: url(love_lady/LoveLadyPersonalUse.ttf) format(truetype);
}
@font-face {
    font-family: 'Lovely song';
    src: url(mf_love_song/Mf\ Love\ Song.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
    
}
@font-face {
    font-family: 'Lovely hearts';
    src: url(jlr_simple_hearts/JLRSH___.TTF) format(truetype);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Lovelings';
    src: url(lovelings/Lovelings.otf) format(truetype), url(lovelings/Lovelings.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}

title{
    text-align: center;
}

/*--Cabeçalho da página--*/
header{
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

/*--Corpo da página--*/
body{
    background-color: rgb(255, 255, 255);
}


/*--configuração das fontes--*/
h1{
    background-color: white;
    color: fuchsia;
    font-family: 'Lovelings', Times, serif;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/*--Menu--*/
nav{
    background-color: fuchsia;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-top: 0px;

    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.515);
    
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

nav > a{
    text-decoration: none;
}

img#rede-social{
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
    box-sizing: border-box;
}

img#rede-social:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.656);
    transition: transform 0.2s;
}

.redesocial{
    height: 50px;
    width: 50px;
}

/* parte dos produtos disponiveis*/
.fixo{
    width: 70%;
    height: 70%;
    display: block;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    background-color: #ffffff;
    
}

.fixo{
    box-shadow: 5px  20px 20px 5px #c28ad0;
    text-align: center;
}

/*--deixar com efeito de sombra--*/



/*--fazer quadrados brancos--*/
.container{
    
    width: 94%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 12px;
    margin-right: 10px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    
}

/*--deixar com efeito de sombra--*/
.container{
    box-shadow: 5px  20px 20px 5px #c28ad0;
    transition: 0.5s;
}



.container > .cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50%;
    margin-right: 55%;
    
}



/*

nav > a.lojafisica::before{
    content: '\1F3EA';
}

nav > a.instagram::before{
    content: '\1F4F8';
}

nav > a.whatsapp::before{
    content: '\1F48C';
}

nav > a.studio::before{
    content: '\1F48B';
}

nav > a.propietaria::before{
    content: '\1F9DA';
}
*/
/*
div > a{
    color: white;
    background-color: fuchsia;
    border: 3px solid black;
    width: 130px;
    height: 25px;
    padding: 10px;
    margin: 10px 10px 10px 60px;
    text-align: center;
    text-decoration: none;
}
*/

.produtos{
    width: 150px;
    height: 20px;
    display: block;
    padding: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 8px;
    margin-bottom: 30px;
    background-color: fuchsia;
    text-align: center; 
    display: inline-block;
}  

.pd{
    color: white;
    text-decoration: none;
    display: inline;
    font-weight: bold;
}

.compra{
    width: 200px;
    height: 20px;
    display: block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
    background-color: fuchsia;
    text-align: center; 
    display: inline-block;

    color: white;
    text-decoration: none;
    display: inline;
    font-weight: bold;
}


/*
main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
}

main img{
    width: 100%;
}
*/


.esgotado{
    display: inline-block;
    margin: 10px;
    height: 200px;
    width: 300px;
}

.localizacao{
    display: inline-block;
    margin: 10px;
    height: 300px;
    width: 200px;
}

p{
    color: black;
    font-family: 'Lovely song', Times, serif;
}

img{
    display: inline-block;
    text-align: center;
    height: 300px;
    width: 300px;
}

footer{
    height: 200px;
    background-color:#ff00ff;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;

    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;

    padding: 10px;
}

footer > a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}

.rodape{
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 10px;

    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

a.rodape{
    text-decoration: none;
    color: aliceblue;
    display: inline;
}

